body{
	margin: 0;
	line-height: 1.5;
	background-color: #f3f2f1;
}

body,
input,
textarea,
button{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

*{
	box-sizing: border-box;
	margin: 0;
}

ul{
	margin-left: 0;
	padding-left: 0;
}
li{
	list-style-type:none;
}

.visually-hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container{
	max-width: 1170px;
	margin: auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.section-title{
	flex: 0 0 100%;
	margin-bottom:60px;
	padding: 0 15px;
}
.section-title h2{
	display: inline-block;
	font-size: 36px;
	color: #000000;
	font-weight:700;
	margin:0;
	position: relative;
}
.section-title h2::before{
	content: '';
	box-sizing: border-box;
	position: absolute;
	left: 0;
	bottom: -5px;
	width: 80px;
	height: 3px;
	background-color: #ff9800;
}
.button{
	background-color: #ff9800;
	color: #ffffff;
	border: 2px solid transparent;
	padding: 10px 35px;
	border-radius: 30px;
	line-height: 1.5;
	cursor: pointer;
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
	display: inline-block;
	transition: all 0.5s ease;
}
.button:hover{
background-color: transparent;
border-color:#ff9800;
color:#ff9800;
}
.button:focus{
	outline:none;
}
.overlay{
	position: absolute;
	left:0;
	top:0;
	height:100%;
	width:100%;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	transition: all 0.5s ease;
}

/* preloader */

.preloader{
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #111111;
	z-index: 1999;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.6s ease;
}
.preloader.loaded{
	visibility: hidden;
	opacity: 0;
	z-index: -99;
}
.preloader .loader{
	height: 30px;
	width: 30px;
	border: 2px solid #ff9800;
	border-right: 2px solid transparent;
	border-radius: 50%;
	animation: ani01 2s linear infinite;
}

/* header */

.page-header{
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	z-index: 99;
	transition: all 0.5s ease;
}

.page-header.fixed{
	background-color: #ffffff;
	position: fixed;
}

.page-header__row{
	justify-content: space-between;
	align-items: center;
}

.page-header__logo{
	margin: 0 15px;
}

.logo a{
	text-decoration: none;
	font-size: 30px;
	color:#000000;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 1.5px;
	transition: all 0.5s ease;
}

.logo a:hover,
.page-header.fixed .logo a:hover{
	color: #ff9800;
}

.page-header.fixed .logo a{
	color:#000000;
}

.nav-toggle{
	width: 40px;
	height: 34px;
	border: 2px solid #424242;
	border-radius: 3px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.5s ease;
	display: none;
}

.nav-toggle span{
	height: 2px;
	display: block;
	width: 16px;
	background-color: #424242;
	position: relative;
	transition: all 0.5s ease;
}
.page-header.fixed .nav-toggle{
	border-color: #424242;
}
.nav-toggle span::before,
.nav-toggle span::after{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 2px;
	width: 100%;
	background-color: #424242;
	transition: all 0.5s ease;
}
.nav-toggle span:before{
	transform: translateY(-6px);
}
.nav-toggle span:after{
	transform: translateY(6px);
}
.page-header__nav{
	padding: 0 15px;
}
.main-nav__list{
	list-style: none;
	margin:0;
	padding:0;
}
.site-list__item{
	display: inline-block;
	margin-left: 30px;
}
.site-list__item a{
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
	color:#000000;
	padding: 25px 0;
	display: block;
	transition: all 0.5s ease;
}
.page-header.fixed .site-list__item a{
	color: #000000;
}
@keyframes ani01{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
.page-header.fixed .site-list__item a:hover,
.site-list__item a:hover{
	color: #ff9800;
}

/* home section */

.home{
	min-height: 100vh;
	background-image: url('../img/home-bg.jpg');
	background-size: cover;
	background-position: top;
	position: relative;
}
.shape{
	position: absolute;
	height: 30px;
	width: 30px;
	border: 2px solid #ff9800;
}
.home__shape{
	left: 10%;
	top:20%;
	animation: ani01 5s linear infinite;
}

.home__row{
	align-items:center;
	min-height: 100vh;
}
.home__title{
	flex: 0 0 50%;
	margin-left: 20px;
	text-align: center;
	font-size: 60px;
}

.scroll-down{
	width: 20px;
}

.home__scroll-down{
	position: absolute;
	left:50%;
	bottom:20px;
	margin-left:-10px;
	animation:scrollDown 3s ease infinite;
}
@keyframes scrollDown {
	0%,20%,50%,80%,100%{
		transform: translateY(0);
	}
	40%{
		transform:translateY(-30%);
	}
	60%{
		transform: translateY(-15%);
	}
}

/* about section */

.about{
	padding: 80px 0 0;
}
.about__img{
	position: relative;
	flex:0 0 33.33%;
	max-width: 33.33%;
	padding: 0 15px;
}
.about__shape{
	left: 28px;
	top: 15px;
	animation: ani01 5s linear infinite;
}
.about__img img{
	width: 100%;
	height: auto;
	display: block;
}
.about__content{
	flex:0 0 66.66%;
	max-width: 66.66%;
	padding:0 15px;
}
.about__content p{
	font-size: 16px;
	color:#424242;
	line-height: 26px;
	margin: 0;
}
.stats__box{
	flex: 0 0 25%;
	padding:0 15px;
	text-align: center;
	margin-top: 30px;
}
.stats__box p:first-child{
	font-size: 40px;
	color: #000000;
	padding-bottom: 20px;
	font-weight: 600;
}
.stats__box p:last-child{
	font-size: 16px;
	color:#555555;
	font-weight: 600;
	text-transform: uppercase;
}
.about__button{
	margin-top:30px;
}

/* services section */

.services{
	padding:80px 0 0;
}
.services__item{
	flex: 0 0 33.33%;
	max-width: 33.33%;
	padding:15px;
}
.services__item-inner{
	position: relative;
	overflow: hidden;
}
.services__item-inner img{
	width: 100%;
	height: 100%;
	display: block;
	filter: grayscale(100%);
	transition: all 0.7s ease;
}
.services__item-inner:hover img{
	filter: grayscale(0);
	transform: scale(1.1);
}

.services__overlay{
	justify-content: center;
	align-items: center;
}
.services__overlay:hover{
	background-color: transparent;
}
.services__overlay h3{
	color: #ffffff;
	font-size: 20px;
	font-weight: 600;
	margin:0;
	text-align: center;
	transition: all 0.5s ease;
}
.services__overlay:hover h3{
	opacity: 0;
}

/* works section */

.works{
	padding: 80px 0 0;
}
.works__item{
	flex: 0 0 33.33%;
	max-width: 33.33%;
	padding:15px;
}
.works__item-inner{
	position: relative;
	cursor: pointer;
	overflow: hidden;
}
.works__item-inner img{
	width:100%;
	height: 100%;
	display: block;
	transform: scale(1.1);
	transition: all 0.7s ease;
}
.works__item-inner:hover img{
	filter: grayscale(100%);
	transform: scale(1);
}

.works__overlay{
	align-items: flex-end;
	padding: 15px;
	opacity: 0;
}

.works__overlay:hover{
	opacity: 1;
	padding-left: 20px;
}

.works__overlay h3{
	color: #ffffff;
	font-size: 20px;
	font-weight: 600;
	margin:0;
	transform: translateX(30px);
	transition: all 0.7s ease;
}

.works__overlay:hover h3{
	transform: translateX(0);
}

/* lightbox */
.lightbox {
	position: fixed;
	z-index: 1999;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0,0,0,0.7);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: zoom-out;
	display: none;
}
.lightbox.open{
	display: flex;
}
.lightbox__img{
	max-height: 500px;
	display: flex;
	width: auto;
	max-width: 100%;
	padding: 40px 0;
}
.lightbox__close{
	height: 30px;
	width: 30px;
	display: block;
	position: absolute;
	right: 0;
	font-size: 30px;
	color: #ffffff;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}
.lightbox__caption{
	color: #ffffff;
	font-size: 16px;
	font-weight: 600;
	position: absolute;
	left: 0;
	bottom: 10px;
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.lightbox__category{
	padding-right: 50px;
}
.lightbox__controls .next{
	position: absolute;
	height: 100%;
}
.lightbox__controls .prev,
.lightbox__controls .next{
	position:absolute;
	height: calc(100% - 80px);
	top: 40px;
	cursor: pointer;
	display: flex;
	align-items: center;
}
.lightbox__controls .prev{
	left:0;
	width: 50%;
	justify-content: flex-start;
	padding-left: 5px;
}
.lightbox__controls .next{
	right:0;
	width: 50%;
	justify-content: flex-end;
	padding-right: 5px;
}
.lightbox__controls .prev img,
.lightbox__controls .next img{
	width: 30px;
	height: 30px;
	padding: 5px;
	border-radius: 2px;
	transition: all 0.5s;
}
.lightbox__controls .prev:hover img,
.lightbox__controls .next:hover img{
	background-color: rgba(0,0,0,0.5);
}
.img-box{
	position: relative;
	cursor: auto;
}

/* contact section */
.contact{
	padding: 80px 0 80px;
}
.contact__img{
	flex: 0 0 100%;
	max-width: 100%;
	padding: 0 15px;
}
.contact__img-box{
	padding: 200px 0;
	background-image: url('../img/contact-bg.jpg');
	background-size: cover;
	background-position: center;
}
.contact__title{
	text-align: center;
	color: #ffffff;
	font-size: 32px;
	font-weight:600;
}
.contact__title:before{
	background-color: #ffffff;
	left: 50%;
	margin-left: -40px;
}
.contact__form{
	flex:0 0 100%;
	max-width: 100%;
	padding: 0px 65px;
}
.contact__form .form{
	background-color: #f3f4f1;
	padding: 55px 40px;
	margin-top: -150px;
}
.form label{
	color:#000000;
	font-weight: 500;
	display: block;
	margin: 0 0 5px;
}
.form__input-group{
	flex:0 0 100%;
	min-width: 100%;
	padding: 0 15px;
	margin-bottom: 30px;
}
.form__input-group.left,
.form__input-group.right{
	flex: 0 0 50%;
	min-width: 50%;
}
.input-control{
	width: 100%;
	height: 45px;
	padding: 6px 12px;
	color: #000000;
	font-size: 16px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #cccccc;
}
.input-control:focus{
	outline:none;
}
textarea.input-control{
	height: 140px;
	resize: none;
	padding-top: 12px;
}
.form__button{
	text-align: center;
}
.contact__info{
	flex: 0 0 100%;
	max-width: 100%;
}
.contact__info-item{
	flex: 0 0 33.33%;
	max-width: 33.33%;
	text-align: center;
	padding: 0 15px;
	margin-bottom: 30px;
}
.contact__info-item h5{
	font-size: 16px;
	font-weight: 600;
	margin: 0;
}
.contact__info-item p{
	font-size: 16px;
	margin: 0;
	color: #555555;
}
.contact__info-item p:first-child{
	font-weight: 600;
}

/* footer */

.social-links{
	flex:0 0 100%;
	min-width: 100%;
	padding: 0 15px;
	text-align: center;
}
.social-links a{
	text-decoration: none;
	display: inline-block;
	margin: 0 5px;
}
.social-links a img{
	width: 28px;
	display: block;
	transition: all 0.5s ease;
}
.social-links a:hover img{
	opacity: 0.7;
}

.copyright{
	border-top: 1px solid #c5c5c5;
	padding: 25px 15px;
	text-align: center;
	color: #555555;
	font-size: 16px;
}

/* responsive */
@media(min-width:768px){
	.main-nav{
		display: block!important;
	}
}
@media(max-width:767px){
	.page-header{
		padding: 7px 0;
		position: fixed;
	}
	.nav-toggle{
		display: flex;
		margin-right: 15px;
	}
	.main-nav{
		flex: 0 0 100%;
		min-width: 100%;
		background-color: #ffffff;
		padding: 0;
		display: none;
	}
	.page-header.fixed .main-nav{
		border-top: 1px solid #cccccc;
	}
	.site-list__item{
		display: block;
		margin-right: 25px;
	}
	.page-header.fixed .site-list__item a,
	.site-list__item a{
		color: #000000;
		padding: 12px 0;
	}
	.home__title{
		font-size: 40px;
	}
	.about__img{
		margin-bottom: 30px;
	}
	.about__content,
	.about__img{
		flex: 0 0 100%;
		min-width: 100%;
	}
	
	.works__item,
	.services__item{
		flex: 0 0 50%;
		min-width: 50%;
	}
}

@media(max-width:575px){
	.home__title{
		font-size: 32px;
	}
	.stat__box{
		flex: 0 0 50%;
		max-width: 50%;
	}
	.contact__info-item,
	.form__input-group.left,
	.form__input-group.right,
	.works__item,
	.services__item{
		flex: 0 0 100%;
		min-width: 100%;
	}
	.contact__form{
		padding: 0px 35px;
	}
	.contact__form .form{
		padding: 55px 5px;
	}
}